#### Build generated
build
DerivedData



#### Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/



#### Other
*.moved-aside
*.xccheckout
*.xcscmblueprint



#### Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM



#### Playgrounds

timeline.xctimeline
playground.xcworkspace



#### SublimateVapor, Package Manager

SublimateVapor/Packages
SublimateVapor/Package.pins
SublimateVapor/.build
SublimateVapor/xcuserdata
SublimateVapor/*.xcodeproj
SublimateVapor/DerivedData
SublimateVapor/.DS_Store

# SublimateVapor/Package.resolved



#### CocoaPods

SublimateClient/Pods
SublimateSync/Example/Pods
SublimateUI/Example/Pods



#### fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
